{{> header}}
<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <!--start breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Acceptance Letter</div>
    </div>
    <!--end breadcrumb-->

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-5">
      <div class="card w-100">
        <div class="card-body">
          {{#if message }}
							<h4 class="alert alert-success mt-4">{{message}}</h4>
							{{/if}}
          <form method="post" action="/acceptanceletter" enctype="multipart/form-data">
            <div>
              <input class="form-control mb-3" type="text" id="companyName" required="" name="companyName" placeholder="Name of Company"
                aria-label="default input example">
            </div>
            <div>
              <label class="form-label">Description</label>
              <textarea class="form-control" rows="4" cols="4" required="" name="description" id="description" placeholder="Company Description"></textarea>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Acceptance letter</label>
              <input class="form-control" name="acceptance" id="acceptance" type="file" required="">
            </div>
            <div class="text-start mt-3">
              <button type="submit" class="btn btn-dark px-4">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- end page content-->
  </div>
  {{> footer}}