<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Premium Bootstrap 5 Landing Page Template"
    />
    <meta
      name="keywords"
      content="bootstrap 5, premium, marketing, multipurpose"
    />
    <meta name="author" content="Coderthemes" />

    <!-- Site Title -->
    <title>SiwesApp</title>
    <!-- Site favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- Light-box -->
    <link rel="stylesheet" href="/landingcss/mklb.css" type="text/css" />

    <!-- Swiper js -->
    <link
      rel="stylesheet"
      href="/landingcss/swiper-bundle.min.css"
      type="text/css"
    />

    <!--Material Icon -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/landingcss/materialdesignicons.min.css"
    />

    <link
      rel="stylesheet"
      href="/landingcss/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="/landingcss/style.css" />
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="60">
    <!--Navbar Start-->
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-custom sticky-dark"
      id="navbar-sticky"
    >
      <div class="container">
        <!-- LOGO -->
        <a class="logo text-uppercase" href="index-1.html">
          <h3 style="color: green">SiwesApp</h3>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto navbar-center" id="mySidenav">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">Objective</a>
            </li>
            <li class="nav-item">
              <a href="#team" class="nav-link">Company</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login/Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- home-agency start -->
    <section class="hero-4" id="home">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-9 col-xl-9">
            <div class="text-center hero-4-content">
              <h1 class="display-4 fw-semibold hero-title mb-3">
                Student's Industrial Work Experience Scheme (SIWES)
              </h1>
              <p class="text-muted fs-17 mb-4 pb-2">
                The Students Industrial Work Experience Scheme (SIWES), is the
                accepted training programme, which is part of the approved
                Minimum Academic Standard in the various degree programmes for
                all Nigerian Universities.
              </p>
              <a href="javascript:void(0);" class="btn btn-primary"
                >Learn More </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="hero-bottom-shape">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666210299/hero-4-bottom_wdvtmp.png" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- home-agency end -->

    <!-- Objective start -->
    <section class="section bg-light" id="about">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 col-lg-6 text-center">
            <h2 class="title">Objective of Siwes</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mt-5">
              <div class="about-icon ms-3">
                <img src="images/agency/icon/1.png" alt="" class="img-fluid" />
              </div>
              <h5 class="fs-22 mt-4 pt-3 mb-3">Learning Avenue</h5>
              <p class="text-muted">
                Provide an avenue for students in Institutions of higher
                learning to acquire industrial skills and experience in their
                respective courses of study.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-5">
              <div class="about-icon ms-3">
                <img src="images/agency/icon/2.png" alt="" class="img-fluid" />
              </div>
              <h5 class="fs-22 mt-4 pt-3 mb-3">Exposure</h5>
              <p class="text-muted">
                Prepare students for the Industrial Work situation they are
                likely to experience after graduation.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-5">
              <div class="about-icon ms-3">
                <img src="images/agency/icon/3.png" alt="" class="img-fluid" />
              </div>
              <h5 class="fs-22 mt-4 pt-3 mb-3">Transition to Work</h5>
              <p class="text-muted">
                Make the transition from school to the world of work easier; and
                enhance students’ networks for later job placements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About end -->

    <!-- company start -->
    <section class="section" id="team">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 col-lg-6 text-center">
            <h6 class="subtitle">Compaies</h6>
            <h2 class="title">FEATURED COMPANIES</h2>
            <p class="text-muted">
              A list of some of the companies featured in our database.
            </p>
          </div>
        </div>

        <div class="row mb-5 pb-5">
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171433/Screen_Shot_2022-10-19_at_10.23.32_zwklvt.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666087577/wjys7vgxgxsqslzn2jbf.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171433/Screen_Shot_2022-10-19_at_10.23.32_zwklvt.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171432/Screen_Shot_2022-10-19_at_10.23.00_h8ckfr.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171432/Screen_Shot_2022-10-19_at_10.23.17_maazbx.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171433/Screen_Shot_2022-10-19_at_10.23.32_zwklvt.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666087577/wjys7vgxgxsqslzn2jbf.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171433/Screen_Shot_2022-10-19_at_10.23.32_zwklvt.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171432/Screen_Shot_2022-10-19_at_10.23.00_h8ckfr.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666087577/wjys7vgxgxsqslzn2jbf.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171433/Screen_Shot_2022-10-19_at_10.23.32_zwklvt.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="team-bg rounded text-center">
              <img src="https://res.cloudinary.com/dgikmoh1f/image/upload/v1666171432/Screen_Shot_2022-10-19_at_10.23.17_maazbx.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- team end -->

    <!-- footer & cta start -->
    <section class="text-center">
      <div class="bg-light py-5">
        <h5>Copyright 2022 by SiwesApp</h5>
      </div>
    </section>
    <!-- footer & cta end -->
    <!-- Back to top -->
    <a
      href="#"
      onclick="topFunction()"
      class="back-to-top-btn btn btn-dark"
      id="back-to-top"
      ><i class="mdi mdi-chevron-up"></i
    ></a>

    <!-- javascript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Portfolio filter -->
    <script src="/js/filter.init.js"></script>
    <!-- Light-box -->
    <script src="/js/mklb.js"></script>
    <!-- swiper -->
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>

    <!-- counter -->
    <script src="/js/counter.init.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>