 {{>header}}
 <!-- start page content wrapper-->
      <div class="page-content-wrapper">
        <!-- start page content-->
        <div class="page-content">
          <!--start breadcrumb-->
          <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Intenship Requests</div>
          </div>
          <!--end breadcrumb-->

          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-5">
           
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Company's Name</th>
                                    <th>Company Slug</th>
                                    <th>Student's Name</th>
                                </tr>
                            </thead>
                            <tbody>
                               {{#each requests}}
                                <tr>
                                    <td>{{companyName}}</td>
                                    <td>{{companySlug}}</td>
                                    <td>{{username}}</td>
                                </tr>
                               {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content-->
      </div>
      <!--end page content wrapper-->
      {{>footer}}